<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ohara.question3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@android:drawable/star_on"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:label="@string/act1"
            android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/act2"
            android:name=".SecondActivity">
        </activity>
    </application>

</manifest>